/* RESET  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* GENERAL SETTINGS */
body{
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style: none;
}

/* FLOAT SETTINGS */
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

/* CONTAINER */
#container{
    height: 100vh;
    background-color: greenyellow;
    overflow-y: auto;
}

/* MAIN-CONTAINER */
#main-container{
    height: calc(100vh - 75px);
}

/* NAVBAR-CONTAINER */
#navbar-container{
    height: 100%;
    width: 200px;
    background-color: hotpink;
}

/* MAIN-SECTION */
#main-section{
    height: 100%;
    width: calc(100% - 200px);
    background-color: indigo;
}

/* UPGRADE-CONTAINER */
#upgrade-container{
    height: 75px;
    width: 100%;
    background-color: khaki;
}

/* SONG-CONTAINER */
#song-container{
    height: calc(100% - 75px);
    width: 100%;
    background-color: lightblue;
}

/* FOOTER-CONTAINER */
footer{
    background-color: green;
    height: 75px;
}