/* RESET  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* GENERAL SETTINGS */
body{
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style: none;
}

.line{
    width: 100%;
    height: 1px;
    margin: 5px 0  8px;
}

.overflow{
    overflow-y: auto;
}

.playlist{
    flex-grow: 1;
}

.current-value{
    position: relative;
    height: 100%;
    width: 30%;
    border-radius: 15px;
    background-color: rgb(197, 197, 197);
}

.current-value-dot{
    display: none;
    position: absolute;
    right: -10px;
    top: 0;
    height: 50%;
    transform: translate(-25%, -25%);
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: white;
}

.position-relative{
    position: relative;
}

/* COLOR CLASS */
.txt-white{
    color: white;
}

.bg-gray{
    background-color: gray;
}

/* FLOAT SETTINGS */
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

/* FLEX SETTINGS */
.flex-row{
    display: flex;
    flex-flow: row;
}

.flex-rowreverse{
    display: flex;
    flex-flow: row-reverse wrap;
}

.flex-column{
    display: flex;
    flex-flow: column;
}

.flex-columnreverse{
    display: flex;
    flex-flow: column-reverse;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-shrink-cover{
    flex: 0 1 16%;
    margin-bottom: 5px;
}

.content-space-between{
    justify-content: space-between;
}

.content-space-evenly{
    justify-content: space-evenly;
}

.content-center{
    justify-content: center;
}

.content-flex-start{
    align-content: flex-start;
}

.content-self-flexend{
    align-content: flex-end;
}

.items-center{
    align-items: center;
}

.align-center{
    align-content: center;
}

/* CONTAINER */
#container{
    height: 100vh;
    overflow-y: auto;
}

/* MAIN-CONTAINER */
#main-container{
    height: calc(100vh - 75px);
}

/* NAVBAR-CONTAINER */
#navbar-container{
    height: 100%;
    width: 200px;
    padding: 20px 10px 10px;
    color: grey;
    background-color: rgb(0, 0, 0);
    overflow-y: hidden;
}

#logo-container img{
    height: 50px;
    
}

#small-logo-container{
    display: none;
}

#navbar-container div.playlist{
    overflow-y: auto;
}

#navbar-container div.playlist h5{
    text-transform: uppercase;
    color: white;
}

#navbar-container div.playlist i{
    font-size: 2.5em;
}

#navbar-container div.playlist li:nth-child(1){
    line-height: 40px;
}

#navbar-container ul{
    padding-bottom: 10px;
}
#navbar-container li{
    
    padding: 8px;
}

#navbar-container li img{
    height: 25px;
    vertical-align: middle;
}

#navbar-container li p{
    display: inline-block;
    vertical-align: middle;

}

#navbar-container img.bottom{
    width: 20px;
    height: 20px;
    opacity: 0.5;
    margin-left: 2px;
    margin-right: 10px;
}

#profile p{
    font-size: 0.9em;
    font-weight: 600;
    color: white;
}

#profile-img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 3px;
}

/* MAIN-SECTION */
#main-section{
    position: relative;;
    height: 100%;
    width: calc(100% - 200px);
}

/* UPGRADE-CONTAINER */
#upgrade-container{
    position: absolute;
    height: 75px;
    width: 100%;
    padding-right: 30px;
    background-color: rgb(27, 27, 27);
}

#upgrade-button{
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 500;
    border: 2.5px solid white;
    border-radius: 50px;
    margin-right: 10px;
}

/* SONG-CONTAINER */
#song-type-selector li{
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 600;
    padding: 10px 5px;
    color: lightgray;
}

#song-container{
    width: 100%;
    padding: 85px 10px 10px;
    color: white;
    background-color: rgb(39, 52, 56);

}

#song-container .cover-container{
    margin: 15px 0;
    
}

#song-container img{
    width: 100%;
}

#song-container .playbutton{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#song-container .playbutton i{
    font-size: 4em;
}

#song-container .flex-shrink-cover{
    text-align: center;
    margin-right: 5px;
}

#song-container .flex-shrink-cover h5{
    color: white;
    font-size: 0.9em;
}

#song-container p{
    color: gray;
    font-size: 0.7em;
}

#song-container .artist-cover-container{
    margin: 15px 0;
}


#song-container .artist-cover-container img{
    border-radius: 50%;
}


/* FOOTER-CONTAINER */
footer{
    height: 75px;
}

#footer-container{
    height: 100%;
    width: 100%;
    padding: 10px;
    background-color: rgb(31, 31, 31);
}

#currently-playing{
    flex-grow: 1;
}

#currently-playing img{
    height: 40px;
    margin-right: 10px;
}

#currently-playing>div.song-playing{
    margin-right: 10px;
}

#currently-playing>p{
    margin-right: 8px;
    color: gray;

}

#volume-section{
    flex-grow: 2;
    justify-content: space-evenly;
}

.song-playing-name p{
    font-size: 0.7em;
    color: gray;
}

#favourites p{
    margin: 5px;
}

#song-commands{
    flex-grow: 6;
}

#song-commands p{
    margin: 0 10px;
}

#song-tempo{
    width: 85%;
    height: 5px;
    border-radius: 15px;
    background-color: lightslategrey;
}

#volume-section p{
    /* margin: 0 10px; */
}

#song-volume{
    width: 50%;
    height: 5px;
    border-radius: 15px;
    background-color: lightslategrey;
}

/* HOVER EFFECTS */
#upgrade-button:hover{
    transform: scale(1.1);
    cursor: pointer;
}

/* hover navbar */

li:hover{
    filter: brightness(200%);
    cursor: pointer;
}

#install:hover img{
    opacity: 1;
}

#install:hover{
    color: white;
    cursor: pointer;
}

/* hover song-container */
#song-container div.flex-shrink-cover:hover{
    cursor: pointer;
}

#song-container div.position-relative.opacity:hover .playbutton{
    display: block;
}

#song-container div.position-relative.opacity:hover img{
    filter: opacity(.5);
}

/* hover footer */
#footer-container i:hover{
    cursor: pointer;
    color: white;
}

#song-commands h1:hover{
    transform: scale(1.1);
    cursor: pointer;
}

#song-volume:hover{
    cursor: pointer;
}

#song-volume:hover .current-value{
    background-color: yellowgreen;
    cursor: pointer;
}

#song-volume:hover .current-value-dot{
    display: block;
}

#song-tempo:hover{
    cursor: pointer;
}

#song-tempo:hover .current-value{
    background-color: yellowgreen;
}

#song-tempo:hover .current-value-dot{
    display: block;
}

.song-playing p:hover{
    text-decoration: underline; 
    color: white;
    cursor: pointer;
}

/* mediaqueries breakpoint */
@media screen and (min-width: 768.1px) and (max-width: 1100px) {
    .flex-shrink-cover{
        flex: 0 1 23.5%;
    }

    #song-type-selector ul{
        flex-wrap: wrap;          
    }
}

@media screen and (max-width: 768px) and (min-width: 512.1px){
    .flex-shrink-cover{
        flex: 0 1 47.5%;
    }

    #song-type-selector ul{
        flex-wrap: wrap;          
    }
}

@media screen and (max-width: 512px){
    .flex-shrink-cover{
        flex: 0 1 47.5%;
    }

    #song-type-selector ul{
        flex-wrap: wrap;          
    }

    #navbar-container{
        justify-content: space-between;
        width: 50px;
    }

    #small-logo-container{
        display: block;
        margin-bottom: 5px;
    }

    #navbar-container li{
        padding: 0 0 5px 2px;
    }

    #navbar-container li img{
        display: block;
    }

    #navbar-container div.line.bg-gray{
        background-color: transparent;
    }

    #navbar-container li p{
        display: none;
    }

    #navbar-container p{
        display: none;
    }
    
    #logo-container{
        display: none;
    }

    #favourites{
        flex-direction: column;
    }

    #navbar-container .playlist{
        display: none;
    }

    #main-section{
        width: calc(100% - 50px);
    }
}